<body>
   <header>
    <% if user_signed_in? %>
      <h1><%=current_user.username %>さんの軌跡！</h1>
      <%=link_to "logout", destroy_user_session_path, method: :delete  %>
    <% else %>
     <%=link_to "login", new_user_session_path, method: :get  %>
    <% end %>
     <%=link_to "トップへ", tops_path, method: :get  %>
   </header>
  <div class="bg-mask">
   <h1>ここに問題の結果と問題ページ（edit）・回答ページ（update）をいれる</h1>
  </div>
 </body>
